html
    head 
        title= title
        link(rel="stylesheet", href='styles.css')
    body
        ul
            each user in users
                li
                    h2
                        a(href='/edit/'+ user.userId)= user.name
                        a(href='/delete/'+ user.userId)= 'Delete'


