@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,200;8..144,400&display=swap');
body {
    display: flex;
    justify-content: center;
    background-color: #E9EAEF;
    font-family: 'Roboto Flex', sans-serif;
}

.main-container {
    display: flex;
    flex-direction: column;
    width: 900px;
    background-color: #fff;
    padding: 20px;
    margin: 40px;
}

table {
    border-collapse: collapse;
}

th {
    text-align: left;
    padding: 5px 10px;
}

td {
    padding: 15px 10px;
}

tr:nth-child(even) {
    background-color: #EEEEEE;
    border: none;
}

.btn-container {
    display: flex;
    justify-content: flex-end;
    margin: 40px 80px;
}
.btn {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 100px;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

  }
  
  .btn:hover{
    bottom: 5;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  }